body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #222;
  margin: 0;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 2em;
}

.navbar {
  background: #333;
  padding: 1em;
}

.navbar a {
  color: white;
  margin-right: 1em;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.image-galerie {
  max-width: 600px;
  width: 100%
  height: auto
  display: block
  margin: 2em auto;
}

main img {
    width: 100%;
    height: auto;
}

main {
  max-width: 700 px;
  margin: 0 auto;
  padding: 2em 1em;
}

main h1,
main h2,
main h3 {
    text-align: left;
}

main p,
main ul {
    text-align: left;
}
