body {
  font-family: sans-serif;
  margin: 0;
}

.navbar {
  background: #333;
  padding: 1em;
}

.navbar a {
  color: white;
  margin-right: 1em;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.image-galerie {
  max-width: 600px;
  width: 100%
  height: auto
  display: block
  margin: 2em auto;
}

main img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

main {
  padding: 2em;
}

