body {
  font-family: sans-serif;
  margin: 0;
}

.navbar {
  background: #333;
  padding: 1em;
}

.navbar a {
  color: white;
  margin-right: 1em;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
}

