body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #222;
  margin: 0;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0.2em;
}

.navbar {
  background: #333;
  padding: 1em;
}

.navbar a {
  color: white;
  margin-right: 1em;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.image-galerie {
  max-width: 500 px;
  width: 100%;
  height: auto;
  display: block;
  margin: 2em auto;
}

.small-vignette {
  max-width: 200 px;
  width: 50%;
  height: auto;
  display: block;
  margin: 2em auto;
}

.hero {
    position: relative;
    max-width: 100%;
    margin-bottom: 3em;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 1.5em 1.5em;
    border-radius: 8px;
}

.hero-text h1 {
    margin: 0;
    font-size: 2.8em;
}

main img {
    max-width: 500 px;
    width: 100%;
    height: auto;
}

main {
  max-width: 500 px;
  margin: 0 auto;
  padding: 2em 1em;
}

main h1,
main h2,
main h3 {
    text-align: left;
}

main p,
main ul {
    text-align: left;
}
